.bookmark {
  font-size: 1rem * 0.6;
  &__button {
    margin-top: 10px;
    @include media-breakpoint-up(lg) {
      margin-top: 0;
    }
  }
  @include media-breakpoint-up(gfold) {
    font-size: 1rem * 0.6;
  }
  @include media-breakpoint-up(ipse) {
    h5 {
      font-size: 1rem * 0.8;
    }
    font-size: 1rem * 0.8;
  }
  .bookmarkContainer {
    position: absolute;
    top: 55px;
    right: 0;
    width: 100%;
    @include media-breakpoint-up(lg) {
      width: 400px;
      top: 45px;
    }
    max-height: 456px;
    background: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 0.5rem;
    color: black;
    z-index: 99;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    h5 {
      font-size: 1rem * 0.6;
      @include media-breakpoint-up(gfold) {
        font-size: 1rem * 0.7;
      }
      @include media-breakpoint-up(ipse) {
        font-size: 1rem * 0.8;
      }
      @include media-breakpoint-up(md) {
        font-size: 1rem;
      }
    }
    .bookmarkCard {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: white;
      gap: 1.5rem;
      padding: 1rem;
      border-radius: 10px;
      border-bottom: 3px solid rgba(black, 0.1);
      img {
        border-radius: 5px;
      }
      .bookmarkDetail {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 75px;
        width: 100%;
      }
    }
  }
}
